@import '../../mixin.scss';
@import '../../common.scss';
.bookList {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
h1 {
  font-family: 'Roboto Condensed', sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 24px;
  @media only screen and (max-width: 380px) {
    font-size: 16px;
  }
}
ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  list-style: none;
  margin: 80px 0 50px 40px;
  width: 180px;
  padding: 10px;
  @media only screen and (max-width: 840px) {
    grid-template-columns: repeat(3, 1fr);
    width: 90px;
  }
  @media only screen and (max-width: 730px) {
    grid-template-columns: repeat(2, 1fr);
    width: 90px;
  }
  @media only screen and (max-width: 380px) {
    grid-template-columns: repeat(1, 1fr);
    width: 90px;
  }

  li {
    font-family: 'Roboto Condensed', sans-serif !important;
    color: white !important;
    display: flex;
    flex-direction: column;
    background: #000;
    border-radius: 4px;
    padding: 20px;
    border: solid;
    border-color: red;
    justify-content: center;
    align-content: center;
    align-items: stretch;

    img {
      width: 200px;
    }

    button {
      border: none;
      border-radius: 4px;
      color: white;
      background-color: red;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .fav-icon {
      img {
        height: 55px;
        filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(144deg)
          brightness(105%) contrast(108%);
      }
    }
  }
}
